<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 引入bootstap的css文件 -->
    <link rel="stylesheet" href="../js/bootstrap/bootstrap3/css/bootstrap.css">
    <link rel="stylesheet" href="../js/bootstrap/bootstrap3/css/bootstrap-theme.css">
    <!-- 引入jquery文件 -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <!-- 引入bootstrap的js文件 -->
    <script type="text/javascript" src="../js/bootstrap/bootstrap3/js/bootstrap.min.js"></script>
    <!-- bootstrap-table -->
    <link rel="stylesheet" href="../js/bootstrap/bootstrap-table/bootstrap-table.css">
    <script src="../js/bootstrap/bootstrap-table/bootstrap-table.js"></script>
    <script  src="../js/bootstrap/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <!-- 引入弹框的js文件 -->
    <script src="../js/bootstrap/bootstrap-bootbox/bootbox.js"></script>
    <!-- 引入日期得css和js文件 -->
    <script src="../js/bootstrap/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="../js/bootstrap/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <link rel="stylesheet" href="../js/bootstrap/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">

    <!-- 引入上传文件的css和js文件 -->
    <script src="../js/bootstrap/bootstrap-fileinput/js/fileinput.js"></script>
    <script src="../js/bootstrap/bootstrap-fileinput/js/locales/zh.js"></script>
    <link rel="stylesheet" href="../js/bootstrap/bootstrap-fileinput/css/fileinput.css">
</head>
<body>
<table class="table" id="mytable"></table>
</body>
<script>
    $(function(){
        query();
    })

    //减
    function jian(index){
        var value=$("#a"+index).val();
        if (value==0) {
            alert("不能少于1张");
            return;
        }
        value--;
        $("#a"+index).val(value);

    }
    //加
    function jia(index){
        var value=$("#a"+index).val();
        if (value==5) {
            alert("一次只能购买5张");
            return;
        }
        value++;
        $("#a"+index).val(value);
    }

    function query(){
        $("#mytable").bootstrapTable({
            url:"../ticket/findTicket",
            pagination:true, //是否展示分页
            pageList:[2, 4, 6, 8],
            //分页组件
            pageNumber:1,
            pageSize:2,//默认每页条数 //
            sidePagination:'server',//分页方式：client客户端分页，server服务端分页 （*
            queryParams:function(){
                return {
                    page: this.pageNumber,
                    rows:  this.pageSize

                }; },
            columns:[
                {checkbox: true},
                {field: 'id', title: 'id', align: 'center', width: 150},
                {field: 'start_site', title: '出发站', align: 'center', width: 150},
                {field: 'stop_site', title: '到达站', width: 150, align: 'center'},
                {field: 'seat', title: '席别', width: 150, align: 'center',formatter:function (value,row,index){
                        return value==1?"商务座":value==2?"一等座":value==3?"二等座":value==4?"硬卧":"硬座";
                    }},
                {field: 'start_date', title: '出发日期', width: 150, align: 'center'},
                {field: 'typename', title: '类型', width: 150, align: 'center'},
                {field: 'ticket_count', title: '余票', width: 150, align: 'center'},
                {field: 'price', title: '票价', width: 150, align: 'center'},
                {field: 'tools', title: '操作', width: 150, align: 'center',formatter: function (value, row, index) {
                        var str="";
                        str+="<input type='text' value='0' size='1' id='a"+index+"'>";
                        str+="<input type='button' value='-' onclick='javascript:jian("+index+")'>";
                        str+="<input type='button' value='+' onclick='javascript:jia("+index+")'>";
                        str+="<a  class='button' href='javascript:goumai(" + row.id+","+row.price+","+row.ticket_count+","+index+")'>购买</a>";
                        return str;
                    }},

            ],
        })

    }
    function goumai(id,price,count,index) {
        var value=$("#a"+index).val();
        if (value>count){
            alert("余票不足！！")
            return ;
        }else if(value==0){
            alert("票数不能为0！")
            return ;
        }
        var sum=value*price;
        $.ajax({
            url:"../ticket/goumai",
            type:"post",
            data:{sum:sum,id:id,num:value},
            success:function (data) {
                bootbox.alert({
                    size: "small",
                    title: "提示",
                    message: data,
                    callback: function () {
                    }
                })
            }
        })
    }
</script>
</html>